<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>响应式手机网站模板，手机网站模板，WebApp，模板微网站模板 - 科蚁网</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="keywords" content="微信网站模板,微网站模板,手机网站模板,微官网模板,WebApp模板,响应式手机模板,响应式网站模板,手机网站大全" />
<meta name="description" content="科蚁网提供大量的手机网站模板,微网站模板,WebApp网站模板下载和学习" />
<link rel="stylesheet" type="text/css" href="style/reset.css" /> 
<link rel="stylesheet" type="text/css" href="style/root.css" /> 
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/toogle.js"></script>    
</head>
<body>
    <!-- start header -->
    	<div id="header">
         <a href="#"><img src="img/logo.png"  alt="logo" class="logo" /></a>
         	<a href="index.html" class="button back"><img src="img/back-button.png" width="15" height="16" alt="icon" /></a>
         	<a href="#" class="button search"><img src="img/search.png" width="16" height="16" alt="icon"/></a>
         	<a href="form.html" class="button create"><img src="img/create.png" width="16" height="16" alt="icon"/></a>
        <div class="clear"></div>
        </div>
    <!-- end header -->
    
    <!-- start searchbox -->
    <div class="searchbox">
   	  <form id="form1" name="form1" method="post" action="">
      	<input type="text" name="textfield" id="textfield" class="txtbox" />
   	  </form>
    </div>
    <!-- end searchbox -->
    
    
    <!-- start page -->
    <div class="page">
    
    
            <!-- start error page -->
                		
            <div class="simplebox">
            	<h1 class="titleh">提示框</h1>
                <div class="content">		
             	
                	

                                <div class="albox warningbox">
                                	<b>警告 :</b> 这里是警告文本提示信息.
                                	<a href="#" class="close tips" title="close">close</a>
                                </div>
                            	

                                <div class="albox succesbox">
                                	<b>成功 :</b> 这里是成功的提示信息. 
                                	<a href="#" class="close tips" title="close">close</a>
                                </div>

                            

                                <div class="albox informationbox">
                                	<b>信息 :</b> 这里是信息的提示文本信息，替换为你的信息. 
                                	<a href="#" class="close tips" title="close">close</a>
                                </div>
                            	

                                <div class="albox errorbox">
                                	<b>错误 :</b> 这里是错误提示信息，替换为你的错误信息. 
                                	<a href="#" class="close tips" title="close">close</a>
                                </div>

                
                
                </div>
             </div>
             
            <!-- end error page -->
            
            <!-- start top button -->
            <div class="topbutton"><a href="#header"><span>Top</span></a></div>
            <!-- end top button -->
            
            <!-- start footer -->
            <div class="footer">
            © 2014 - 2015  科蚁网 <a href="http://www.ke01.com">www.ke01.com</a>
            </div>
            <!-- end footer -->
            
            
    
    <div class="clear"></div>
    </div>
    <!-- end page -->
</body>
</html>   

<script type="text/javascript" src="js/frame.js"></script>

