<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新闻文章列表模板_响应式手机网站模板WebApp模板微网站模板MobileApp - 科蚁网 www.ke01.com</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="keywords" content="微信网站模板,微网站模板,手机网站模板,微官网模板,WebApp模板,响应式手机模板,响应式网站模板,手机网站大全" />
<meta name="description" content="科蚁网提供大量的手机网站模板,微网站模板,WebApp网站模板下载和学习" />
<link rel="stylesheet" type="text/css" href="style/reset.css" /> 
<link rel="stylesheet" type="text/css" href="style/root.css" /> 
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/toogle.js"></script>    
</head>
<body>
    <!-- start header -->
    	<div id="header">
         <a href="#"><img src="img/logo.png"  alt="logo" class="logo" /></a>
         	<a href="index.html" class="button back"><img src="img/back-button.png" width="15" height="16" alt="icon" /></a>
         	<a href="#" class="button search"><img src="img/search.png" width="16" height="16" alt="icon"/></a>
         	<a href="form.html" class="button create"><img src="img/create.png" width="16" height="16" alt="icon"/></a>
        <div class="clear"></div>
        </div>
    <!-- end header -->
    
    <!-- start searchbox -->
    <div class="searchbox">
   	  <form id="form1" name="form1" method="post" action="">
      	<input type="text" name="textfield" id="textfield" class="txtbox" />
   	  </form>
    </div>
    <!-- end searchbox -->
    
    
    <!-- start page -->
    <div class="page">
    
    
            <!-- start list menu -->
                		
            <div class="simplebox">
            	<h1 class="titleh">新闻文章</h1>
                		
           	 <ul class="list-menu">
             	<li><a href="#"><b>巴西里约热内卢一学校103人中毒</b></a></li>
             	<li><a href="#"><b>霍金预测人类50年内移居月球 世纪末能迁居火星 <span>New</span> </b></a></li>
             	<li><a href="#"><b>东京数千民众集会呼吁去核电化</b></a></li>
             	<li><a href="#"><b>泰国独立机构提和解路线图<span class="red">Spam</span> </b></a></li>
             	<li><a href="#"><b>美国重新起诉印度女外交官</b></a></li>
             	<li><a href="#"><b>新浪微博已提交IPO申请 或替阿里探路<span>New</span> </b></a></li>
             	<li><a href="#"><b>二维码支付要克服的可不止是“安全风险”</b></a></li>
             	<li><a href="#"><b>美国为什么要交出全球互联网管理权 <span>New</span> </b></a></li>
             	<li><a href="#"><b>谷歌指责Rockstar是苹果扶植的专利流氓</b></a></li>
             	<li><a href="#"><b>美域名注册商GoDaddy将启动IPO 拟拜访银行承销商<span class="red">Spam</span> </b></a></li>
             	<li><a href="#"><b>欧盟范围内手机将使用统一充电器</b></a></li>
             </ul>
             
             </div>
             
            <!-- end list menu -->

            <!-- start top button -->
            <div class="topbutton"><a href="#header"><span>Top</span></a></div>
            <!-- end top button -->
            
            
            
            <!-- start footer -->
            <div class="footer">
            © 2014 - 2015  科蚁网 <a href="http://www.ke01.com">www.ke01.com</a>
            </div>
            <!-- end footer -->
            
            
    
    <div class="clear"></div>
    </div>
    <!-- end page -->  
    
    
    
</body>
</html>
<script type="text/javascript" src="js/frame.js"></script>
