<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- SCRIPTS -->
	<script src="http://www.ke01.com/yanshi/ke01/jQuery/jquery-1.9.1.min.js"></script>
	<script src="http://www.ke01.com/yanshi/ke01/js/jquery.zlight.menu.1.0.min.js"></script>

	<!-- STYLES -->
	<link href="http://www.ke01.com/yanshi/ke01/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="http://www.ke01.com/yanshi/ke01/css/style.css" media="screen">
	<link rel="stylesheet" href="http://www.ke01.com/yanshi/ke01/css/zlight.menu.css" media="screen">
    
<style type="text/css">
#preview-frame{background-color:#fff;width:100%; height: 100%; padding:0;margin:0;}
#footer {position:absolute; bottom:0px;left:0; width:100%; height:36px;text-align:right;overflow:hidden;height:36px;}
.foot{width:100%;background:#333;height:36px;}
.foot .left{ float:left; height:36px; line-height:36px;}
.foot .left a,.foot .right a{background: #0093dd; display:inline-block; padding: 0 15px; color:#fff;}
.foot .left a:hover,.foot .right a:hover{background: #FF7102; text-decoration: none;}
.foot p {text-align: center;  color:#fff; font-size:14px; line-height: 36px;}
.foot .right{ float:right;height:36px;line-height:36px;}
.foot i{font-size: 16px; position: relative; top: 2px; padding-right: 5px; }
.foot i:hover{color:#fff;}
.foot .left i{top: 3px;}
.hm-t-container{display:none;}
</style>
<link rel="stylesheet" type="text/css" href="http://www.ke01.com/yanshi/ke01/ke01_Font/css/font-awesome.min.css">   
	<title>电脑维修企业html5网站模板 - 最专业的HTML5建站资源分享社区-科蚁网</title>
<meta name="keywords" content="网站模板,网站源码,HTML5素材,网页特效,建站素材，高端模板,js特效,jquery, 站长论坛, 源码论坛,手机网站,响应式网站" />
<meta name="description" content="
科蚁网（www.ke01.com）是一个专业提供HTML5模板、HTML5建站资源、高端模板、手机网站、响应式网站、jquery特效，HTML5教程等各种HTML5建站素材分享交流社区，致力于打造成为HTML5原创、分享、交流、学习的生态圈。" />
	<script>
		$(document).ready(function(){
			$('#zlight-nav').zlightMenu();
		});
	</script>
    


</head>
<body>

			<div class="col-lg-12">

				<nav id="zlight-nav">
					<ul id="zlight-main-nav">
						<li class="zlight-active"><a href="http://www.ke01.com/">返回首页</a></li>
						<li class="zlight-dropdown">
							<a href="http://www.ke01.com/forum.php?gid=37">资源分享<i class="icon-angle-down"></i></a>
							<ul class="zlight-submenu">
								<li><a href="http://www.ke01.com/forum-44-1.html">HTML5网友资源</a></li>
								<li><a href="http://www.ke01.com/forum-45-1.html">HTML5精品模板</a></li>
								<li><a href="http://www.ke01.com/forum-53-1.html">特效代码</a></li>
							</ul>
						</li>
						<li><a href="http://www.ke01.com/forum-49-1.html">HTML5原创</a></li>
						<li class="zlight-dropdown">
							<a href="http://www.ke01.com/forum.php?gid=38">HTML5学院<i class="icon-angle-down"></i></a>
							<ul class="zlight-submenu">
								<li><a href="http://www.ke01.com/forum-48-1.html">HTML5教程</a></li>
								<li><a href="http://www.ke01.com/forum-50-1.html">HTML5酷站</a></li>
								<li><a href="http://www.ke01.com/forum-47-1.html">HTML5资讯</a></li>
							</ul>
						</li>
						<li><a href="http://www.ke01.com/forum.php?mod=forumdisplay&fid=45&filter=typeid&typeid=12">响应式网站</a></li>
						<li><a href="http://www.ke01.com/forum.php?mod=forumdisplay&fid=45&filter=typeid&typeid=13">手机网站</a></li>
						<li class="zlight-dropdown"><a>加入科蚁网<i class="icon-angle-down"></i></a>
                        							<ul class="zlight-submenu">
								<li><a href="http://www.ke01.com/member.php?mod=register">会员注册</a></li>
								<li><a href="http://www.ke01.com/forum-2-1.html">科蚁公告</a></li>
								<li><a href="http://www.ke01.com/forum-40-1.html">蚁族认证</a></li>
							</ul>
                        </li>
                        
					</ul>
                    <div style="float:right; margin-right:10px;"><a href="http://www.ke01.com/"><img src="http://www.ke01.com/yanshi/ke01/images/kylogo.png" style="margin-bottom:5px;"></a></div>
					<!-- MOBILE NAV -->
					<div id="zlight-mobile-nav">
						<span>导航</span>
						<i class="icon-reorder zlight-icon"></i>
						<select></select>
					</div>
				</nav> <!-- nav close -->

			</div>
               
	<script src="http://www.ke01.com/yanshi/ke01/js/bootstrap.min.js"></script>
	<script src="http://www.ke01.com/yanshi/ke01/js/respond.min.js"></script>
    <div style="font-size:24px; font-weight:600; margin:0 auto; line-height:50px;text-align:center">电脑维修企业html5网站模板</div>
<script type="text/javascript">
$(document).ready(function(){
	
	var iframeHeight = function () {
	var _height = $(window).height() - 135;
		$('#content').height(_height);
	}
	window.onresize = iframeHeight;
	$(function () {
		iframeHeight();
	});
	
});
</script>

<div id="container" style="overflow:hidden;">
	<iframe border="0" id="content" src="index.html" frameborder="0" height="100%" width="100%"></iframe>
</div>    
            
  <div id="footer">
	<div class="foot">
		<div class="right">
		<a href="3.rar"><i class="icon-download-alt"></i>下载此特效</a></div>
		<div class="left">
			<a  href="http://www.ke01.com/thread-1322-1-1.html" title="点击返回原文"><i class="icon-search"></i>查看原文</a>
		</div>
		 <p>科蚁网提示您：HTML5 / CSS3特效请使用最新浏览器查看，如：chrome,Firefox,IE9及以上版本浏览器！</p>
	</div>
</div> 
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000472436'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1000472436%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>     
</body>
</html>