<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>响应式手机网站模板，手机网站模板，WebApp，模板微网站模板 - 科蚁网</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="keywords" content="微信网站模板,微网站模板,手机网站模板,微官网模板,WebApp模板,响应式手机模板,响应式网站模板,手机网站大全" />
<meta name="description" content="科蚁网提供大量的手机网站模板,微网站模板,WebApp网站模板下载和学习" />
<link rel="stylesheet" type="text/css" href="style/reset.css" /> 
<link rel="stylesheet" type="text/css" href="style/root.css" /> 
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/toogle.js"></script>	
</head>
<body>
   
    <!-- start header -->
    	<div id="header">
         <a href="#"><img src="img/logo.png" width="120" height="40" alt="logo" class="logo" /></a>
         	<a href="index.html" class="button back"><img src="img/back-button.png" width="15" height="16" alt="icon" /></a>
         	<a href="#" class="button search"><img src="img/search.png" width="16" height="16" alt="icon"/></a>
        <div class="clear"></div>
</div>
    <!-- end header -->
    
    <!-- start searchbox -->
    <div class="searchbox">
   	  <form id="form1" name="form1" method="post" action="">
      	<input type="text" name="textfield" id="textfield" class="txtbox" />
   	  </form>
    </div>
    <!-- end searchbox -->
    
    
    
    <!-- start page -->
    <div class="page">
    
    		
            <!-- start profile box -->
            <div class="profilebox">
            	<img src="img/avatar.png" width="19" height="20" alt="avatar" class="avatar"/> 欢迎 <b>管理员</b>
                <a href="#" class="logout">logout</a>
                <div class="clear"></div>
            </div>
            <!-- end profile box -->
            
            
            
            <!-- start menu -->
           	 <ul id="menu">
             	<li><a href="articles.html"><img src="img/icons/files.png" width="21" height="21" alt="icon" class="m-icon"/><b>新闻文章</b></a></li>
             	<li><a href="form.html"><img src="img/icons/bubble.png" width="29" height="21" alt="icon" class="m-icon"/><b>表单组件</b></a></li>
   	         	<li><a href="statistics.html"><img src="img/icons/graph.png" width="24" height="21" alt="icon" class="m-icon"/><b>数据统计 <span>9</span> </b></a></li>
             	<li><a href="alert-boxes.html"><img src="img/icons/alert.png" width="25" height="21" alt="icon" class="m-icon"/><b>提示信息 <span class="red">15</span> </b></a></li>
   	         	<li><a href="typo.html"><img src="img/icons/personal-folder.png" width="29" height="21" alt="icon" class="m-icon"/><b>文字排版</b></a></li>
             	<li><a href="gallery.html"><img src="img/icons/photo-gallery.png" width="29" height="21" alt="icon" class="m-icon"/><b>图片相册<span>93</span> </b></a></li>
             	<li><a href="table.html"><img src="img/icons/blocks.png" width="26" height="21" alt="icon" class="m-icon"/><b>数据表格</b></a></li>
             	<li><a href="simple-page.html"><img src="img/icons/page.png" width="26" height="21" alt="icon" class="m-icon"/><b>内容页面</b></a></li>
             	<li><a href="error-page.html"><img src="img/icons/error.png" width="26" height="21" alt="icon" class="m-icon"/><b>错误页面  <span class="red">1</span></b></a></li>
             </ul>
            <!-- end menu -->
            
            
            <!-- start top button -->
            <div class="topbutton"><a href="#"><span>Top</span></a></div>
            <!-- end top button -->
            
            
            
            <!-- start footer -->
            <div class="footer">
            © 2016 - 2017  网管中心 <a href="http://www.nbyzzj.cn">www.nbyzzj.cn</a> </div>
            <!-- end footer -->
            
            
            
    
    <div class="clear"></div>
    </div>
    <!-- end page -->
<script type="text/javascript" src="js/frame.js"></script>
</body>
</html>
