<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数据统计模板_响应式手机网站模板WebApp模板微网站模板 - 科蚁网</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="keywords" content="微信网站模板,微网站模板,手机网站模板,微官网模板,WebApp模板,响应式手机模板,响应式网站模板,手机网站大全" />
<meta name="description" content="科蚁网提供大量的手机网站模板,微网站模板,WebApp网站模板下载和学习" />
<link rel="stylesheet" type="text/css" href="style/reset.css" /> 
<link rel="stylesheet" type="text/css" href="style/root.css" /> 
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/toogle.js"></script>    
</head>
<body>	
    <!-- start header -->
    	<div id="header">
         <a href="#"><img src="img/logo.png"  alt="logo" class="logo" /></a>
         	<a href="index.html" class="button back"><img src="img/back-button.png" width="15" height="16" alt="icon" /></a>
         	<a href="#" class="button search"><img src="img/search.png" width="16" height="16" alt="icon"/></a>
         	<a href="form.html" class="button create"><img src="img/create.png" width="16" height="16" alt="icon"/></a>
        <div class="clear"></div>
        </div>
    <!-- end header -->
    
    <!-- start searchbox -->
    <div class="searchbox">
   	  <form id="form1" name="form1" method="post" action="">
      	<input type="text" name="textfield" id="textfield" class="txtbox" />
   	  </form>
    </div>
    <!-- end searchbox -->
    
    
    <!-- start page -->
    <div class="page">
    
    		
            <div class="simplebox">
            	<h1 class="titleh">数据统计</h1>
                <div class="content">
                		
                        
                                        	<!-- start statistics -->
                                            <ul class="statistics">
                                            	<li>全部文章	<p>	<span class="green"><b>6</b> 审核</span> - <span class="blue"><b>652</b> 未审核</span>	</p>	</li>
                                            	<li>标签	<p>	<span class="red"><b>965</b> 标签</span></p>	</li>
                                            	<li>评论	<p><span class="blue">265 赞成</span> - <span class="red">6 反对</span>	</p>	</li>
                                            	<li>插件	<p>	<span class="blue"><b>9</b> 激活</span> - <span class="red"><b>2</b> 未激活</span></p>	</li>
                                            	<li>最后更新	<p>	2013-03-13	</p>	</li>
                                            </ul>
                                        	<!-- end statistics -->
                  
                </div>
      </div>
            
			<!-- start top button -->
            <div class="topbutton"><a href="#header"><span>Top</span></a></div>
            <!-- end top button -->           
            
            <!-- start footer -->
            <div class="footer">
            © 2014 - 2015  科蚁网 <a href="http://www.ke01.com">www.ke01.com</a>
            </div>
            <!-- end footer -->
            
            
    
    <div class="clear"></div>
    </div>
    <!-- end page -->
	
    
    
    
    
</body>
</html>
<script type="text/javascript" src="js/frame.js"></script>