<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>文字排版模板_响应式手机网站模板WebApp模板微网站模板- 科蚁网</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="keywords" content="微信网站模板,微网站模板,手机网站模板,微官网模板,WebApp模板,响应式手机模板,响应式网站模板,手机网站大全" />
<meta name="description" content="科蚁网提供大量的手机网站模板,微网站模板,WebApp网站模板下载和学习" />
<link rel="stylesheet" type="text/css" href="style/reset.css" /> 
<link rel="stylesheet" type="text/css" href="style/root.css" /> 
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/toogle.js"></script>    
</head>
<body>


	
    <!-- start header -->
    	<div id="header">
         <a href="#"><img src="img/logo.png"  alt="logo" class="logo" /></a>
         	<a href="index.html" class="button back"><img src="img/back-button.png" width="15" height="16" alt="icon" /></a>
         	<a href="#" class="button search"><img src="img/search.png" width="16" height="16" alt="icon"/></a>
         	<a href="form.html" class="button create"><img src="img/create.png" width="16" height="16" alt="icon"/></a>
        <div class="clear"></div>
        </div>
    <!-- end header -->
    
    <!-- start searchbox -->
    <div class="searchbox">
   	  <form id="form1" name="form1" method="post" action="">
      	<input type="text" name="textfield" id="textfield" class="txtbox" />
   	  </form>
    </div>
    <!-- end searchbox -->
    
    
    <!-- start page -->
    <div class="page">
    
    
            <!-- start error page -->
                		
            <div class="simplebox">
            	<h1 class="titleh">文字排版</h1>
                <div class="content">		
             	
                	
                	<h1>阿里失手虚拟信用卡 或遭致命一击</h1>
                    <p>多项证据指向客机被劫持 机长妻儿在航班失联前搬离警方通报长沙砍杀案：嫌犯情绪失控伤害无辜群众...</p>
                	
                	<h2>媒体揭煎饼薄脆黑幕：可疑油炸制 一个月不坏</h2>
                    <p>吉林幼儿园被服药幼儿:老师告诉不许和爸妈说辽宁葫芦岛居民楼今晨发生爆炸...</p>
                	
                	<h3>安理会乌克兰问题决议草案被否 中方弃权俄反对</h3>
                    <p>中央第3轮巡视定京津等14地 王岐山要求瞪大眼睛尼康D600相机被曝"黑斑门" 部分电商平台已停售...</p>
                	
                	<h4>习近平任中央军委深化改革领导小组组长</h4>
                    <p>李克强答记者问讲述五个故事 记者会上"大白话" 30句话读懂"强"态度多项证据指向客机被劫持 机长妻儿在航班失联前搬离...</p>
                	
                	<h5>警方通报长沙砍杀案：嫌犯情绪失控伤害无辜群众</h5>
                    <p>甘肃地震局新房刚竣工就变形开裂 回应称没问题男子地摊淘便宜货买到真象牙制品被批捕...</p>
                    
                    <blockquote>中国实现森林双增长 北京日报马航400条谣言被处理中国实现森林双增长 北京日报马航400条谣言被处理中国实现森林双增长 北京日报马航400条谣言被处理</blockquote>
                    
                    
                    <b>带箭头列表</b>
                    <ul class="list-arrow">
                    	<li>双龙街收费站凌晨起终于免费了</li>
                    	<li>轨交13号线三期7月开工</li>
                    	<li>无害化销假给环保加分</li>
                    	<li>俄罗斯发射两颗电视通信卫星</li>
                    </ul>
                    
                    
                    <b>带加号列表</b>
                    <ul class="list-plus">
                    	<li>新浪微博IPO的4个看点</li>
                    	<li>打假百合网实名制：骗子的温床</li>
                    	<li>微博分拆上市，股东保驾护航</li>
                    	<li>超级APP之下，小而美APP的突围之道</li>
                    </ul>
                    
                
                </div>
             </div>
             
            <!-- end error page -->

                        
                  
            
            
            
            
            
            
            
            <!-- start top button -->
            <div class="topbutton"><a href="#header"><span>Top</span></a></div>
            <!-- end top button -->
            
            
            
            <!-- start footer -->
            <div class="footer">
            © 2014 - 2015  科蚁网 <a href="http://www.ke01.com">www.ke01.com</a>
            </div>
            <!-- end footer -->
            
            
    
    <div class="clear"></div>
    </div>
    <!-- end page -->
	
    
    
    
    
</body>
</html>
<script type="text/javascript" src="js/frame.js"></script>