@charset "utf-8";
/* CSS Document */
*{
	font-size:12px;
	margin:0;
	padding:0;
	font-family:"微软雅黑 light";
	list-style:none;
	transition:all 1s;
}
a{
	text-decoration:none;
	color:#000;
}
.clear{
	clear:both;
}
#top{
	background-color:#1CAC7D;
	height:50px;
	box-shadow:0 5px 5px rgba(0,0,0,0.20);
	line-height:50px;
	z-index:999;
	position:relative;
}
.menu{
	position:absolute;
	left:10px;
	height:50px;
	line-height:50px;
	color:#fff;
}
#top h1{
	font-size:25px;
	font-weight:normal;
	color:#fff;
	text-align:center;
}
#menu{
	width:150px;
	position:absolute;
	display:none;
	z-index:9999999;
}
#menu li{
	background-color:#1CAC7D;
	line-height:20px;
	text-indent:10px;
}
#menu li a{
	font-size:15px;
	
	color:#fff;
}
#banner{
	width:100%;
	position:relative;
	overflow:hidden;
	height:250px;
}
#banner ul.show{
	display:-webkit-box;
	position:absolute;
}
#banner ul.show li{
	width:375px;
	-webkit-box-flex:1;
}
#banner ul.show li img{
	width:100%;
	max-height:250px;
}
#banner .nav{
	width:100%;
	position:absolute;
	bottom:20px;
	text-align:center;
}
#banner .nav li{
	background-color:#fff;
	width:8px;
	height:8px;
	border-radius:50px;
	display:inline-block;
}
#banner .nav li.show{
	background-color:#1CAC7D;
}
#banner img{
	width:100%;
}
#main{
	width:100%;
}
.index-nav{
	margin-top:10px;
}
.index-nav ul{
	display:-webkit-box;
}
.index-nav ul li{
	-webkit-box-flex:1;
}
.index-nav ul li figure{
	padding:5px;
	text-align:center;
}
.index-nav ul li figure img{
	width:80%;
}
.index-nav ul li figure figcaption{
	font-size:15px;
}
#footer{
	margin-top:10px;
	background-color:#1CAC7D;
	height:50px;
	line-height:30px;
	color:#fff;
	padding:5px 0 0 0; 
}
#footer a{
	color:#fff;
}
#footer ul{
	display:-webkit-box;
}
#footer ul li{
	-webkit-box-flex:1;
	text-align:center;
}
#footer ul li img{
	width:30%;
	display:block;
	margin:0 auto;
}
#footer ul li lable{
	width:100%;
}
.show_list{
	width:100%;
}
.show_list ul li{
	padding:10px;
	height:20px;
	line-height:20px;
	background-color:#1CAC7D;
	margin-top:10px;
	box-shadow:0 5px 5px rgba(0,0,0,0.23);
	color:#fff;
	font-size:20px;
}
.show_list ul li a{
	color:#fff;
	font-size:18px;
}
